#include <zephyr/dt-bindings/input/input-event-codes.h>

&gpio0 {
	sdl_gpio {
		compatible = "zephyr,gpio-emul-sdl";
		scancodes = <4>;
	};
};

/ {
    input_evdev: evdev_input {
        compatible = "zephyr,native-linux-evdev";
        status = "okay";
        label = "EVDEV_INPUT_DEVICE";
    };
    
    aliases {
        sw0 = &input_evdev;
    };

	keys {
		compatible = "gpio-keys";
		key_a: key_a {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_A>;
		};
	};
};