/* Enable internal temperature sensor */
&coretemp {
	status = "okay";
};

/* Enable USB-Serial-JTAG Console */
/ {
    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
    };
};

&usb_serial {
    status = "okay";
};
